.container {
  border: none !important;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0px 3rem;
}
.header .logo img {
  width: 32rem;
  height: 3rem;
}
.login-buttons {
  display: flex;
  height: 2rem;
  margin-top: 5px;
}
.login-buttons button {
  background-color: #1461ae;
  padding: 0px 1rem;
  color: white;
  border: none;
  cursor: pointer;
}
.login-buttons .login {
  border-radius: 5px 0px 0px 5px;
  font-size: 12px;
  border-right: 1px solid white;
}
.login-buttons .signup {
  border-radius: 0px 5px 5px 0px;
  font-size: 12px;
}
.login-buttons .login:hover {
  background-color: #f26419;
}
.login-buttons .signup:hover {
  background-color: #f26419;
}
.navbar {
  margin-top: 10px;
  padding: 2px 40px;
  background-color: #1461ae;
}
.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 16px;
  padding-right: 3.5rem;
}
.collapse {
  display: flex;
  justify-content: space-between;
}
.form-control {
  width: 18rem;
  height: 2rem;
  padding-bottom: 7px;
}
.search-button {
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: white;
  color: #1461ae;
  height: 2rem;
  padding: 0px 0px 3px 0px;
  font-weight: 400;
  width: 2rem;
}
.search-button img {
  width: 20px;
}
.crumbs {
  padding-right: 4rem;
  margin-left: 4rem;
}
.crumbs .navbar {
  margin-top: 0px;
  background-color: #f2f5fa;
  height: 2rem !important;
  font-size: 14px;
  font-weight: 450;
  color: #1461ae;
  border-radius: 0px 0px 8px 8px;
}
.crumbs .navbar .navbar-nav .nav-link {
  padding-top: 10px;
  padding-left: 0px;
  color: #1461ae;
}
.crumbs .navbar .navbar-nav .nav-link:hover {
  color: #f26419;
}
.crumbs .navbar p {
  padding-top: 10px;
}
.display {
  background-color: #f2f5fa;
  height: 100%;
  margin: 2rem 4rem 2rem 4rem;
}
.products {
  display: flex;
}
.product-image {
  padding: 3rem 0px 5rem 2rem;
}
.product-image .carousel-inner img {
  height: 10rem;
  max-width: 10rem;
}

.carousel-inner  {
  max-width: 10rem;
}

.product-image p {
  padding: 20px 10px 10px 40px;
  color: #1461ae;
}
.product-credentials {
  padding: 3rem 0 1rem 2rem;
  width: 25rem;
  margin-right: 5rem;
}
.product-credentials h5 {
  margin: 20px 0px;
  color: green;
}
.product-credentials h5 img {
  width: 20px;
  padding-bottom: 2px;
}
.product-credentials p {
  font-size: 14px;
}

.color-box {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  max-width: 3rem;
  padding: 0.5rem;
  /* margin-top: 0.5rem; */
}

.enable {
  border: 2px solid rgb(44, 97, 133) !important;
}

.color-heading {
  margin-left: -1rem !important;
}

.color-box .color-circle {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 10rem;
  cursor: pointer;
}

.offers {
  margin: 2rem 2rem auto auto;
}
.offers h5 {
  color: #1461ae;
  font-size: 24px;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: auto;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 0;
}
.container .row1 {
  display: flex;
  border-bottom: 1px solid #cfcfcf;
}
.container .row1 .logo {
  padding: 10px 15px 0px;
  border-right: 1px solid #cfcfcf;
}
.container .row1 .data {
  padding: 10px 25px 0px;
  border-right: 1px solid #cfcfcf;
}
.container .row1 .cost {
  padding: 10px 15px 0px;
}
.container .row1 .logo img {
  width: 5rem;
}
.container .row2 {
  display: flex;
  border-bottom: 1px solid #cfcfcf;
}
.container .row2 .left {
  padding: 10px;
}
.container .row2 .left p {
  font-size: 16px;
}
.container .row2 .right {
  padding: 10px;
}
.container .row2 .right p {
  font-size: 16px;
}
.container .row2 .right button {
  background-color: #008000;
  border: none;
  border-radius: 5px;
  padding: 10px 35px;
  color: white;
}
.container .row2 .right button:hover {
  background-color: #00b300;
}
.container .row3 {
  display: flex;
}
.container .row3 .left {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.container .row3 .left p {
  font-size: 14px;
  margin-top: 7px;
  margin-right: 5px;
}
.container .row3 .left button {
  border: 2px solid #1461ae;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
}
.container .row3 .left button:hover {
  background-color: #f2f5fa;
}
.container .row3 .right {
  padding: 20px 5px 10px;
}
.container .row3 .right a:hover {
  color: #ff66ff;
}
.cart-list {
  width: 79%;
  padding-left: 2rem;
}
.list {
  display: flex;
  flex: row;
  font-size: 12px;
}
.list p {
  margin-top: 10px;
  cursor: pointer;
}
.list p:hover {
  color: #f26419;
}
.list img {
  width: 0.7rem;
  height: 0.7rem;
  margin: 13px 5px 0px 20px;
}
.cost-details {
  display: flex;
  flex-direction: row;
}
.deals {
  width: 100%;
  margin: auto auto 1rem 1rem;
}
.deals .product-heading {
  background-color: #f2f5fa;
  padding: 0.5rem 2rem;
}
.deals .navbar-text {
  color: #f26419;
  font-weight: bold;
  font-size: 24px;
}
.deals-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.deals-body .left {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f2f5fa;
  border: 1px solid #cfcfcf;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  max-height: 40rem;
}
.deals-body .left .header {
  border-bottom: 1px solid #cfcfcf;
}
.deals-body .left .data {
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
}
.deals-body .left .data button {
  width: 13rem;
  border: 1px solid #cfcfcf;
}

.filter-btns button{
  max-width: 5.5rem !important;
  height: 4rem !important;
  margin-right: 5px;
  padding: 0px !important;
  margin-bottom: 1rem;
}

.filter-btns .active{
  border: 2px solid #1471a7 !important;
}

.deals-body .left .data p {
  margin-bottom: 10px;
}
.deals-body .left .monthly-cost {
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
}
.deals-body .left .monthly-cost button {
  border: 1px solid #cfcfcf;
  margin: 0px 2px;
}
.deals-body .left .upfront-cost {
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
}
.deals-body .left .upfront-cost .upfront-buttons {
  display: flex;
  justify-content: space-around;
}
.deals-body .left .upfront-cost .upfront-buttons button {
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid #cfcfcf;
}
.deals-body .left .upfront-cost .upfront-buttons button:hover {
  color: #ff66ff;
  border: 2px solid #1461ae;
}
.deals-body .left .clear-filters button {
  border-radius: 3px;
  color: #1461ae;
  padding: 5px 50px;
  border: 1.5px solid #1461ae;
  margin: 15px 25px;
}
.deals-body .left .clear-filters button:hover {
  border: 2px solid #1461ae;
  background-color: white;
  color: #ff66ff;
}
.deals-body .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.deals-body .right .more-deals {
  background-color: #f2f5fa;
  width: 100%;
  padding: 1rem 0rem 1rem 22rem;
  border: 1px solid #cfcfcf;
  margin-top: 2rem;
}
.deals-body .right .more-deals:hover {
  border: 1px solid #1461ae;
  cursor: pointer;
}
.deals-body .right .more-deals h4 {
  color: #1461ae;
}
.deals-body .right .dropdown-popularity {
  width: 100%;
  display: flex;
  justify-content: end;
}
.deals-body .right .dropdown-popularity button {
  align-items: center;
  border: 1px solid #1461ae;
  padding: 10px 100px 10px 20px;
}
.right-deals {
  display: flex;
  border-radius: 5px;
  border: 1px solid #cfcfcf !important;
  width: 100%;
  margin-top: 2rem;
}
.right-deals .package {
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #cfcfcf;
}
.right-deals .package img {
  width: 4rem;
  height: 4rem;
  margin: 35px 5rem 0px 10px !important;
}
.right-deals .package .net {
  margin: 35px 5rem 0px 10px !important;
}
.right-deals .package .minutes {
  margin: 35px 2rem 0px 10px !important;
}

.product-cost {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.right-deals .product-cost .all-costs {
  display: flex;
  justify-content: space-around;
}
.heart-icon {
  width: 3rem;
  height: 1.8rem;
  position: absolute;
  right: -10px;
  top: 10px;
  z-index: 2
}

.off-description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #F9D1DC;
  padding: 5px;
  padding-right: 10px;
}
.off-description p {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
}

.right-deals .product-cost .cost-detail {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.right-deals .product-cost .cost-detail button {
  color: white;
  background-color: #008000;
  border-radius: 5px;
  border: none;
  padding: 8px 30px;
  margin-left: 5px;
}
.right-deals .product-cost .cost-detail button:hover {
  background-color: #00b300;
}
.right-deals .product-cost .cost-detail p {
  font-size: 12px;
}
.footer {
  width: 91%;
  margin: auto auto 3rem 4rem;
}
.footer .product-heading {
  background-color: #f2f5fa;
  padding: 0.5rem 2rem;
}
.footer .navbar-text {
  color: #f26419;
  font-weight: bold;
  font-size: 24px;
}
.details {
  margin: 1rem 0 0 15rem;
  display: flex;
}
.compare-details {
  margin: 1rem 0 0 15rem;
  display: flex;
  flex-direction: column;
}
.compare-mobile-heading {
  background-color: #E7F2F8;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  border-top: 2px solid rgb(231, 231, 231);
  border-bottom: 2px solid rgb(231, 231, 231);
}
.compare-mobile-heading p {
  margin: 0px
}
.compare-mobile-sub-b-heading {
  background-color: #E7F2F8;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border-top: 2px solid rgb(231, 231, 231);
  border-bottom: 2px solid rgb(231, 231, 231);
}
.compare-mobile-sub-b-heading p {
  margin: 0px
}
.compare-mobile-sub-heading {
  display: flex;
  align-items: center;
  padding: 0.6rem;
}
.compare-mobile-sub-heading p {
  margin: 0px
}

.compare-mobile-btns-wrapper {
  background-color: #E7F2F8;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-top: 2px solid rgb(231, 231, 231);
  border-bottom: 2px solid rgb(231, 231, 231);
}
.compare-btns {
  background-color: #fff;
  outline: none;
  border: 1px solid #0169b4;
  padding: 0.5rem;
  width: 48%;
  border-radius: 5px;
}
.details .left-details {
  margin-right: 20px;
}
.details .left-details h4 {
  color: #f6ae2d;
  padding: 5px 0 10px;
  border-bottom: 0.5rem solid #f6ae2d;
}
.details .left-details p {
  text-align: justify;
}
.details .right-details h4 {
  color: #d13e39;
  border-bottom: 0.5rem solid #d13e39;
  padding: 5px 0 10px;
}
.compare-products {
  border-top: 0.5rem solid #d13e39;
  padding: 5px 0 10px;
  display: flex;
}
.specs {
  border-top: 0.5rem solid #0169B4 !important;
}
.specs-heading {
  color: #0169B4;
}
.spec-sub-heading {
  font-size: 1.2rem;
  color: #F074B8;
  font-weight: 500;
  margin-left: -1rem;
  border-bottom: 1px solid #0169B4;
  padding-bottom: 0.6rem;
  margin-top: 1rem;
}
.details .right-details p {
  text-align: justify;
}

.spec-description {
  margin-left: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spec-description div{
  display: flex;
  align-items: center;
}
.spec-description div p{
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 500;
}
.spec-description div i{
  font-size: 1.5rem;
  margin-right: 10px;
}
.spec-description i{
  font-size: 1.3rem;
  margin-top: 2px;
}

.newsletter {
  background-color: #f2f5fa;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
}
.newsletter h3 {
  color: #1461ae;
  padding: 2rem 5rem;
}
.newsletter #newsletter-input {
  margin: 0 0 0 5rem;
  width: 25rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  padding: 15px;
}
.newsletter button {
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 7px 10px;
  margin-bottom: 20px;
}
.newsletter button img {
  width: 20px;
  height: 20px;
}
.page-footer {
  background-color: #1461ae;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-elements {
  display: flex;
  justify-content: center;
}
.page-footer a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.page-footer a:hover {
  text-decoration: underline;
}
.page-footer .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 4rem;
  margin: 2rem 0;
}
.footer-line {
  color: white;
  margin-bottom: 10px;
}

.deals-body .right-deals .package-image img {
  width: 6rem;
  height: 5rem;
  margin-top: 1.5rem !important;
}

.network-icon {
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  width: 5rem;
  display: flex;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.network-icon img {
 width: 2rem;
 height: 2rem;
}

@media only screen and (max-width: 376px) {
  .collapse {
    width: 10px !important;
  }
  .list {
    font-size: 6px !important;
  }
  .list img {
    margin: 10px 2px 0px 0px;
  }
  .list p {
    margin-right: 5px;
  }
  .product-ratings {
    height: 5rem !important;
  }
  .stars label:before {
    font-size: 10px !important;
  }
  .edit-buttons {
    margin-left: 10rem;
  }
  .edit-buttons button img {
    display: none;
  }
  .edit-buttons button {
    border: none;
    padding: 0 20px;
    font-size: 10px !important;
  }
  .newsletter h3 {
    padding: 10px 30px !important;
  }
  .newsletter #newsletter-input {
    width: 14rem !important;
    height: 2rem;
  }
  .newsletter button {
    padding: 2px 8px !important;
  }
}
@media only screen and (max-width: 426px) {
  .header {
    padding: 0px 10px;
  }
  .header .logo img {
    width: 250px;
    height: 20px;
    padding: 0px 10px;
  }
  .collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .container-fluid .collapse input {
    width: 13rem !important;
  }
  .login-buttons button {
    width: 30px;
    height: 20px;
    padding: 4px;
  }
  .login-buttons .login {
    font-size: 6px;
  }
  .login-buttons .signup {
    font-size: 6px;
  }
  .product-image .carousel-inner img {
    width: 8rem !important;
    margin-right: 20px;
  }
  .product-credentials {
    padding: 0px !important;
    margin: auto 2rem !important;
  }
  .product-credentials h4 {
    font-size: 8px !important;
  }
  .product-credentials h5 {
    font-size: 8px;
    margin: 10px auto;
  }
  .product-credentials h5 img {
    width: 0.5rem;
  }
  .product-credentials p {
    font-size: 8px;
    padding: 0px 8rem;
    margin-bottom: 0px;
  }
  .cart-list {
    padding-left: 0px;
  }
  .list {
    font-size: 8px;
    padding-right: 2rem !important;
    margin-left: 20px !important;
  }
  .deals {
    width: 70% !important;
  }
  .deals .product-heading {
    padding: 0px;
  }
  .deals .navbar-text {
    font-size: 12px !important;
    padding: 0px 10px;
  }
  .footer {
    width: 70% !important;
  }
  .footer .product-heading {
    padding: 0px;
  }
  .footer .navbar-text {
    font-size: 12px !important;
    padding: 0px 10px;
  }
  .details .left-details h4 {
    font-size: 14px;
  }
  .details .left-details p {
    font-size: 12px;
  }
  .details .right-details {
    margin-right: 10px;
  }
  .details .right-details h4 {
    font-size: 14px;
  }
  .details .right-details p {
    font-size: 12px;
  }
  .details .right-details .package .net {
    margin-right: 0px !important;
  }
  .newsletter #newsletter-input {
    width: 20rem;
    height: 1rem;
    margin-left: 2.5rem;
  }
  .newsletter button {
    padding: 3px 10px;
  }
  .newsletter button img {
    width: 15px;
    height: 15px;
  }
  .dropdown button {
    width: 15rem !important;
  }
  .footer-line {
    font-size: 12px !important;
  }
  .offers {
    margin-top: 10px !important;
    margin-left: 30px !important;
  }
  .offers h5 {
    font-size: 12px;
    margin: 0px 0px 5px 0px !important;
  }
  .container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 0;
  }
  .container .row1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #cfcfcf;
    padding-left: 20px;
  }
  .container .row1 .logo {
    padding: 5px 8px 0px;
    border: none;
  }
  .container .row1 .data {
    padding: 5px 8px 0px;
    border: none;
  }
  .container .row1 .data h4 {
    font-size: 8px;
  }
  .container .row1 .data p {
    font-size: 8px;
  }
  .container .row1 .cost {
    padding: 5px 8px 0px;
  }
  .container .row1 .cost h4 {
    font-size: 8px;
  }
  .container .row1 .cost p {
    font-size: 8px;
  }
  .container .row1 .logo img {
    width: 5rem;
  }
  .container .row2 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cfcfcf;
  }
  .container .row2 .left {
    padding: 10px 10px 0px;
  }
  .container .row2 .left p {
    font-size: 8px;
  }
  .container .row2 .right {
    padding: 0px 10px 5px !important;
  }
  .container .row2 .right p {
    font-size: 8px;
  }
  .container .row2 .right button {
    background-color: #008000;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 8px;
    color: white;
  }
  .container .row2 .right button:hover {
    background-color: #00b300;
  }
  .container .row3 {
    display: flex;
  }
  .container .row3 .left {
    padding: 15px 0px 15px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container .row3 .left p {
    font-size: 8px !important;
  }
  .container .row3 .left button {
    border: 2px solid #1461ae;
    border-radius: 5px;
    background-color: white;
    font-size: 8px;
  }
  .container .row3 .left button:hover {
    background-color: #f2f5fa;
  }
  .container .row3 .right a {
    font-size: 8px;
  }
  .container .row3 .right {
    padding: 10px 0px 0px 0px !important;
  }
  .deals-body .left {
    width: 12rem;
    margin: 20px 2rem 10px !important;
  }
  .deals-body .left .header h5 {
    font-size: 16px;
  }
  .deals-body .left .data button {
    width: 10rem;
    font-size: 10px;
  }
  .deals-body .left .cost-details button {
    width: 5rem;
    font-size: 10px;
  }
  /* .deals-body .right-deals {
    display: flex;
    flex-direction: column;
  } */
  /* .deals-body .right .dropdown-popularity button {
    width: 10rem;
    height: 2rem;
    font-size: 12px;
    margin-right: 20rem !important;
  } */
  .deals-body .right-deals .package {
    border-right: none;
    border-bottom: 1px solid #cfcfcf;
  }
  .deals-body .right-deals .package-image img {
    width: 3rem;
    height: 3rem;
    margin-right: 0px !important;
  }
  .deals-body .right-deals .package .net h4 {
    font-size: 12px;
  }
  .deals-body .right-deals .package .net p {
    font-size: 12px;
  }
  .deals-body .right-deals .package .minutes h4 {
    font-size: 12px;
  }
  .deals-body .right-deals .package .minutes p {
    font-size: 12px;
  }
  .deals-body .right-deals .product-cost .first h4 {
    font-size: 12px;
  }
  .deals-body .right-deals .product-cost .first p {
    font-size: 12px;
  }
  .deals-body .right-deals .product-cost .second h4 {
    font-size: 12px;
  }
  .deals-body .right-deals .product-cost .second p {
    font-size: 12px;
  }
  .deals-body .right-deals .product-cost .cost-detail button {
    padding: 5px 15px;
    font-size: 8px;
  }
  .more-deals {
    padding: 0px !important;
  }
  .more-deals h4 {
    padding-left: 70px;
    padding-top: 8px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .crumbs {
    display: none !important;
  }
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-image {
    padding-bottom: 0px;
    margin: 0 0 2rem 0;
  }
  .product-credentials {
    margin: 0 10rem;
    padding: 0;
    text-align: center;
  }
  .details {
    display: flex;
    flex-direction: column;
  }
  .cart-list {
    width: 90%;
  }
  .offers {
    margin-left: 10px;
  }
  .offers h5 {
    margin-left: 5rem;
  }
  .deals-body {
    display: flex;
    flex-direction: column;
  }
  .deals-body .left {
    margin: 20px 10rem;
  }
  /* .deals-body .right .dropdown-popularity button {
    margin-bottom: 20px;
    margin-right: 20rem;
  } */
  /* .deals-body .right-deals {
    margin-bottom: 20px;
  } */
  .more-deals {
    padding-left: 12rem;
  }
  .list {
    margin-left: 20px;
  }
  .deals {
    width: 83.5%;
  }
  .deals .navbar-text {
    font-size: 20px;
  }
  .footer {
    width: 83.5%;
  }
  .footer .navbar-text {
    font-size: 20px;
  }
  .details {
    margin: 1rem 0px;
  }
  .deals .deals-body .right-deals {
    display: flex;
    flex-direction: column;
  }
  .deals .deals-body .right-deals .package {
    border-right: none;
    border-bottom: 1px solid #cfcfcf;
  }
  .page-footer .footer-elements .column {
    margin: 20px 0px;
  }
  .page-footer .footer-elements .column a {
    font-size: 12px;
  }
  .footer-elements {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1025px) {
  .product-credentials h4 {
    font-size: 20px;
  }
  .social-buttons {
    padding-right: 15rem;
  }
  .deals .product-heading {
    margin-right: 22px;
  }
  /* .right-deals {
    margin: 0px 10px;
  } */
  .right-deals .package {
    display: flex;
    border-right: 1px solid #cfcfcf;
  }
  .right-deals .package img {
    width: 4rem;
    height: 4rem;
    margin: 10px 20px auto 10px;
  }
  .right-deals .package .net {
    margin: 10px 20px auto 10px;
  }
  .right-deals .package .minutes {
    margin: 10px 10px auto 10px;
  }
  .deals-body .right .more-deals {
    background-color: #f2f5fa;
    width: 80%;
    border: 1px solid #cfcfcf;
    padding-left: 15rem;
  }
  /* .deals-body .right .dropdown-popularity button {
    margin-left: 20rem !important;
  } */
  .right-deals .product-cost img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px 5px 10px 18rem;
  }
}

@media (min-width: 576px) {
  .main-container  {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 1320px;
  }
}